*{
    margin: 0;
}
img{
    object-fit: cover;
}

.bg_color{
    background-color: rgb(222, 244, 252);
}



.thumbnail:hover{
    transform: scale(1.04,1.04);
    transition: transform 0.4s ease-in-out;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.nav_elements:hover{
    transform: scale(1.2,1.2);
    transition: transform 0.1s ease-in-out;
}

.nav_elements1:hover{
    transform: scale(1.05,1.05);
    transition: transform 0.2s ease-in-out;
}

.card_element1:hover{
    transform: scale(1.02,1.02);
    box-shadow: 1px 1px 5px rgb(46, 46, 46);
    transition: transform 0.2s ease-in-out;
    border-radius: 2%;
}

.collider{
    position: relative;
    width: 100%;  
    overflow: hidden;
}
.mine,.mine2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56%;
    transition: opacity 1.5s ease;
}
.mine2{
    opacity: 0;
}
.collider:hover .mine1{
    opacity: 0;
}
.collider:hover .mine2{
    opacity: 1;
}

.carousel-item {
    transition: transform 0.75s ease-in-out;
  }

  

